<a href="https://colab.research.google.com/github/heriswn/LatihanDTS/blob/master/2407_Heri_Setiawan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
##	Task Understanding

Problem: memperkirakan atau memprediksi harga mobil 

Target: Data spek mobil dan harga -> prediksi harga mobil

Success Criteria: minimum error (perbedaan harga antara harga prediksi dengan harga real)

Analytic Approach: Predictive

## Prapare your data
### Data Understanding and Preparation
Dataset ('imports-85.data')

In [0]:
import pandas as pd
import numpy as np

In [0]:
cols = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
       "num_doors", "body_style", "drive_wheels", "engine_location",
       "wheel_base", "length", "width", "height", "curb_weight", "engine_type",
       "num_cylinders", "engine_size", "fuel_system", "bore", "stroke",
       "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg",
       "price"]
df=pd.read_csv('imports-85.data',names=cols)

In [0]:
df.shape

(205, 26)

### Cuplikan 5 data awal dari Dataset Automobil

In [0]:
df.head(5)

   symboling normalized_losses         make  ... city_mpg highway_mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### Mengidentifikasi missing values

In [0]:
for i in cols:
    nr=df[df[i]=='?'].shape[0]
    if nr>0:
        print(i,':',nr)

normalized_losses : 41
num_doors : 2
bore : 4
stroke : 4
horsepower : 2
peak_rpm : 2
price : 4

/usr/local/lib/python3.6/dist-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

### Mengubah nilai yang kosong menjadi nan

In [0]:
df=df.replace('?',np.nan)

### Cuplikan 5 data awal setelah dilakukan perbaikan data

In [0]:
df.head()

   symboling normalized_losses         make  ... city_mpg highway_mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### Mengubah type dataset yang tidak sesuai dengan type yang seharusnya

In [0]:
num_vars = ['normalized_losses', "bore", "stroke", "horsepower", "peak_rpm",
            "price"]

for i in num_vars:
    df[i] = df[i].astype('float64')

### Mengganti missing values dengan nilai rata-rata dari setiap atribut

In [0]:
num_vars = ['normalized_losses', 'num_doors', "bore", "stroke", "horsepower", "peak_rpm",
            "price"]

for i in num_vars:
    if (df[df[i].isnull()].shape[0]>0):
        print('\nAttribute-',i,' (before) :',df[df[i].isnull()].shape[0])
        if (df[i].dtypes in ['int64','float64']):
            df[i].fillna(df[df[i].notnull()][i].mean(), inplace=True)
        else:
            df[i].fillna(df[df[i].notnull()][i].mode(), inplace=True)
        print('\nAttribute-',i,' (after) :',df[df[i].isnull()].shape[0])

Attribute- normalized_losses  (before) : 41

Attribute- normalized_losses  (after) : 0

Attribute- num_doors  (before) : 2

Attribute- num_doors  (after) : 2

Attribute- bore  (before) : 4

Attribute- bore  (after) : 0

Attribute- stroke  (before) : 4

Attribute- stroke  (after) : 0

Attribute- horsepower  (before) : 2

Attribute- horsepower  (after) : 0

Attribute- peak_rpm  (before) : 2

Attribute- peak_rpm  (after) : 0

Attribute- price  (before) : 4

Attribute- price  (after) : 0

### Membuang data yang masih memiliki missing values dan mengencode attribute ‘num_doors’ menjadi numerik dengan direct encoding

In [0]:
df=df.dropna()

In [0]:
for i in ['num_doors']:
    df[i]=df[i].replace({'two':2,'four':4})

In [0]:
df.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3              122.0  alfa-romero  ...       21          27  13495.0
1          3              122.0  alfa-romero  ...       21          27  16500.0
2          1              122.0  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

### Mengencode semua attribute bertype ‘object’ menjadi numerik

In [0]:
for i in cols:
    if (df[i].dtypes=='object'):
        df[i] = df[i].astype('category')
        df[i] = df[i].cat.codes

In [0]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in cols:
    if (df[i].dtypes=='object'):
        le.fit(df[i])
        df[i] = le.transform(df[i])

In [0]:
df.head()

   symboling  normalized_losses  make  ...  city_mpg  highway_mpg    price
0          3              122.0     0  ...        21           27  13495.0
1          3              122.0     0  ...        21           27  16500.0
2          1              122.0     0  ...        19           26  16500.0
3          2              164.0     1  ...        24           30  13950.0
4          2              164.0     1  ...        18           22  17450.0

[5 rows x 26 columns]

### Mengcode atribut "make" menjadi numerik

In [0]:
df= pd.get_dummies(data=df, columns=['make'])

In [0]:
df.head()

   symboling  normalized_losses  fuel_type  ...  make_19  make_20  make_21
0          3              122.0          1  ...        0        0        0
1          3              122.0          1  ...        0        0        0
2          1              122.0          1  ...        0        0        0
3          2              164.0          1  ...        0        0        0
4          2              164.0          1  ...        0        0        0

[5 rows x 47 columns]

## Prepare the Experiment
Tujuan: menguji model mana yang paling cocok untuk memprediksi harga mobil dengan menggunakan model logistic regression, svm, dan decision tree

Varibel Respon: Harga mobil

Faktor dan Level: Faktor spesifikasi mobil

Desain Eksperimen:

a)	Strategi: Factiorial Design/Grid Search

b)	Skema: K-fold cross validation

### Modeling
#### Menginput model yang akan diuji

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import max_error

models = {
"knn": KNeighborsClassifier(n_neighbors=1),
"naive_bayes": GaussianNB(),
"logit": LogisticRegression(solver="lbfgs", multi_class="auto"),
"svm": SVC(kernel="rbf", gamma="auto"),
"decision_tree": DecisionTreeClassifier(),
"random_forest": RandomForestClassifier(n_estimators=100),
}

#### Menginput subset random untuk training dan testing

In [0]:
print("[INFO] loading data...")
X=df.iloc[:,:-1].values
# print(X.shape)
Y=df.iloc[:,-1].values
# print(Y.shape)
Y=Y.astype('int64')

(trainX, testX, trainY, testY) = train_test_split(X,Y, random_state=3, test_size=0.25)

[INFO] loading data...

### Evaluation 
#### Hasil experimen dengan Logistic Regression

In [0]:
# train the Logistic Regression model
print("[INFO] using '{}' model".format("logit"))
model = models["logit"]
model.fit(trainX, trainY)

# make predictions on our data and show a regression report
print("[INFO] evaluating...")
predictions = model.predict(testX)
print('MAE:',mean_absolute_error(testY,predictions))

[INFO] using 'logit' model
[INFO] evaluating...
MAE: 0.0784313725490196

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

#### Hasil dengan Decision Tree

In [0]:
# train the Decision Tree model
print("[INFO] using '{}' model".format("decision tree"))
model = models["decision_tree"]
model.fit(trainX, trainY)

# make predictions on our data and show a regression report
print("[INFO] evaluating...")
predictions = model.predict(testX)
# print('MAE:',mean_absolute_error(testY,predictions))
print('MAE:',max_error(testY,predictions))

[INFO] using 'decision tree' model
[INFO] evaluating...
MAE: 1

In [0]:
# train the Decision Tree model
print("[INFO] using '{}' model".format("decision tree"))
model = models["decision_tree"]
model.fit(trainX, trainY)

# make predictions on our data and show a regression report
print("[INFO] evaluating...")
predictions = model.predict(testX)
print('MAE:',mean_absolute_error(testY,predictions))

[INFO] using 'decision tree' model
[INFO] evaluating...
MAE: 0.0392156862745098

#### Hasil dengan SVM

In [0]:
# train the Decision Tree model
print("[INFO] using '{}' model".format("svm"))
model = models["svm"]
model.fit(trainX, trainY)

# make predictions on our data and show a regression report
print("[INFO] evaluating...")
predictions = model.predict(testX)
print('MAE:',mean_absolute_error(testY,predictions))

[INFO] using 'svm' model
[INFO] evaluating...
MAE: 0.0196078431372549

### Kesimpulan:
Evaluation: Hasil eksperimen dengan menggunakan model Logistic Regression, Decision Tree dan SVM menunjukkan bahwa adanya perbedaan nilai mean absolute error dimana MAE berturut-turut adalah 3670.235294117647, 2986.627450980392 dan 3547.6470588235293, 6720.64705882353. Ini menunjukan bahwa model Logistic Regression lebih baik daripada model lainnya untuk masalah prediksi harga mobil karena memiliki nilai MAE terkecil. Sebenarnya nilai MAE yang dihasilkan model Decision Tree memiliki nilai yang lebih kecil dibandingkan dengan model Logistic Regression, tetapi model Decision Tree memiliki nilai MAE yang tidak konsisten. Sehingga disimpulkan bahwa model Logistic Regression adalah yang terbaik untuk memprediksi harga mobil dimana range harga mobil yang dapat dijual adalah ±3670.