<a href="https://colab.research.google.com/github/heriswn/LatihanDTS/blob/master/Google_Play_Store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as plt
import seaborn as sns

In [0]:
data=pd.read_csv("googleplaystore.csv")

In [3]:
data.head(2)

                                              App  ...   Android Ver
0  Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                             Coloring book moana  ...  4.0.3 and up

[2 rows x 13 columns]

In [4]:
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

# Eksplorasi setiap feature
(data memiliki 12 tipe objek dan 1 tipe numerik)

1. Size
2. Installs
3. Reviews
4. Rating
5. Type
6. Price
7. Category
8. Content Rating
9. Genres
10. Last Updated
11. Current Version
12. Android Version

## Size

In [5]:
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [6]:
data.Size.value_counts()
data.Size.head()

0     19M
1     14M
2    8.7M
3     25M
4    2.8M
Name: Size, dtype: object

Dapat dilihat ada satuan kilo (k) dan Mega (M). Replace k dan M dengan nilai sesuai nilainya.

In [7]:
data.Size=data.Size.str.replace('k','e+3')
data.Size=data.Size.str.replace('M','e+6')
data.Size

0                     19e+6
1                     14e+6
2                    8.7e+6
3                     25e+6
4                    2.8e+6
5                    5.6e+6
6                     19e+6
7                     29e+6
8                     33e+6
9                    3.1e+6
10                    28e+6
11                    12e+6
12                    20e+6
13                    21e+6
14                    37e+6
15                   2.7e+6
16                   5.5e+6
17                    17e+6
18                    39e+6
19                    31e+6
20                    14e+6
21                    12e+6
22                   4.2e+6
23                   7.0e+6
24                    23e+6
25                   6.0e+6
26                    25e+6
27                   6.1e+6
28                   4.6e+6
29                   4.2e+6
                ...
10811                3.9e+6
10812                 13e+6
10813                2.7e+6
10814                 31e+6
10815                4.9e+6
10816                6.8e+6
10817                8.0e+6
10818                1.5e+6
10819                3.6e+6
10820                8.6e+6
10821                2.5e+6
10822                3.1e+6
10823                2.9e+6
10824                 82e+6
10825                7.7e+6
10826    Varies with device
10827                 13e+6
10828                 13e+6
10829                7.4e+6
10830                2.3e+6
10831                9.8e+6
10832                582e+3
10833                619e+3
10834                2.6e+6
10835                9.6e+6
10836                 53e+6
10837                3.6e+6
10838                9.5e+6
10839    Varies with device
10840                 19e+6
Name: Size, Length: 10841, dtype: object

Kita punya dua tipe nilai dari data Size.
1. nilai exponensial (belum di convert ke string)
2. Strings (tidak bisa diconvert ke numerik)

untuk mengconvert category 1 ke numerik, jadikan category 1 dan 2 sebagai boolean array temp

In [8]:
def is_convertable(v):
    try:
        float(v)
        return True
    except ValueError:
        return False
    
temp=data.Size.apply(lambda x: is_convertable(x))
temp.head()

0    True
1    True
2    True
3    True
4    True
Name: Size, dtype: bool

Sekarang cek nilai non numerik

In [9]:
data.Size[~temp].value_counts()

Varies with device    1695
1,000+                   1
Name: Size, dtype: int64

* Replace 'Varies with device' oleh nan dan
* convert 1000+ to 1000 jadi numerik

In [0]:
data.Size=data.Size.replace('Varies with device',np.nan)
data.Size=data.Size.replace('1,000+',1000)

Convert data Size setelah dibersihkan

In [0]:
data.Size=pd.to_numeric(data.Size)

In [12]:
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size              1695
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

## Installs

Cek nilai unik dalam data install

In [13]:
data.Installs.shape

(10841,)

In [14]:
data.Installs.value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
Free                 1
0                    1
Name: Installs, dtype: int64

Dapat dilihat ada 22 nilai unik, yaitu
* 1 -> 0
* 1 -> free (sting)
* dan numerik cuma dengan tanda '+' dan ',' yang harus dihapus untuk mengconvert kedalam numerik

In [15]:
data.Installs=data.Installs.apply(lambda x: x.strip('+'))
data.Installs=data.Installs.apply(lambda x: x.replace(',',''))
data.Installs=data.Installs.replace('Free',np.nan)
data.Installs.value_counts()

1000000       1579
10000000      1252
100000        1169
10000         1054
1000           907
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               15
Name: Installs, dtype: int64

Cek data

In [16]:
data.Installs.str.isnumeric().sum()

10840

Artinya ada 1 data yang bukan numerik, yaitu nan (sudah diconvert dari Free ke nan)

In [17]:
data.Installs=pd.to_numeric(data.Installs)
data.Installs.head()

0       10000.0
1      500000.0
2     5000000.0
3    50000000.0
4      100000.0
Name: Installs, dtype: float64

## Reviews

Cek semua nilai dalam data reviews

In [18]:
data.Reviews.head()

0       159
1       967
2     87510
3    215644
4       967
Name: Reviews, dtype: object

In [19]:
data.Reviews.str.isnumeric().sum()

10840

Artinya ada 1 yang bukan numerik. Kita cari!

In [20]:
data[~data.Reviews.str.isnumeric()]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

Kita bisa saja mengubahnya menjadi numerik tetapi datanya aneh (M : jutaan).maka kita bisa drop (baris) data

In [0]:
data=data.drop(data.index[10472])

cek baris

In [22]:
data[10471:].head(2)

                           App         Category  ...  Current Ver   Android Ver
10471         Xposed Wi-Fi-Pwd  PERSONALIZATION  ...        3.0.0  4.0.3 and up
10473  osmino Wi-Fi: free WiFi            TOOLS  ...      6.06.14    4.4 and up

[2 rows x 13 columns]

In [0]:
data.Reviews=data.Reviews.replace(data.Reviews[~data.Reviews.str.isnumeric()],np.nan)

In [0]:
data.Reviews=pd.to_numeric(data.Reviews)

## Rating

Nilai dari rating diantara 1-5. kita perlu pastikan dengan cara berikut

In [25]:
print("Range: ", data.Rating.min(),"-",data.Rating.max())

Range:  1.0 - 5.0

Cek jenis data untuk melihat apakah perlu dikonversi ke numerik

In [26]:
data.Rating.dtype

dtype('float64')

Data sudah numerik. sekarang cek data yang memiliki nilai null

In [27]:
print(data.Rating.isna().sum(),"null values out of", len(data.Rating))

1474 null values out of 10840

## Type

Cek tipe nilai dan masalah lain

In [28]:
data.Type.value_counts()

Free    10039
Paid      800
Name: Type, dtype: int64

Ada dua tipe, yaitu free dan paid

### Price

Cek nilai unik dari price

In [29]:
data.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

data memiliki simbol $ yangmana seharusnya dihapus dan diubah ke numerik

In [0]:
data.Price=data.Price.apply(lambda x: x.strip('$'))

In [0]:
data.Price=pd.to_numeric(data.Price)

### Category

Cek data

In [32]:
data.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

Tidak ada data pengulangan atau palsu

### Genres

Cek data unik

In [33]:
data.Genres.unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

data dalam format Categoy;Subcategory.
maka kita bagi kedalam dua kolom, satu sebagai category utama dan yang lain kategory kedua, menggunakan '';''

* Primary Category

In [34]:
sep = ';'
rest = data.Genres.apply(lambda x: x.split(sep)[0])
data['Pri_Genres']=rest
data.Pri_Genres.head()

0    Art & Design
1    Art & Design
2    Art & Design
3    Art & Design
4    Art & Design
Name: Pri_Genres, dtype: object

* Secoundary Category

In [35]:
rest = data.Genres.apply(lambda x: x.split(sep)[-1])
rest.unique()
data['Sec_Genres']=rest
data.Sec_Genres.head()

0    Art & Design
1    Pretend Play
2    Art & Design
3    Art & Design
4      Creativity
Name: Sec_Genres, dtype: object

Buat grup berdasarkan Primary dan Secondary

In [36]:
grouped = data.groupby(['Pri_Genres','Sec_Genres'])
grouped.size().head(15)

Pri_Genres       Sec_Genres
Action           Action                365
                 Action & Adventure     17
Adventure        Action & Adventure     13
                 Adventure              75
                 Brain Games             1
                 Education               2
Arcade           Action & Adventure     16
                 Arcade                220
                 Pretend Play            1
Art & Design     Action & Adventure      2
                 Art & Design           58
                 Creativity              7
                 Pretend Play            2
Auto & Vehicles  Auto & Vehicles        85
Beauty           Beauty                 53
dtype: int64

buat dua tabel agar lebih dipahami

In [0]:
twowaytable = pd.crosstab(index=data["Pri_Genres"],columns=data["Sec_Genres"])

# Checking

In [0]:
data = data.drop(columns=['Last Updated','Current Ver','Android Ver'],axis=1)

In [0]:
data = data['Rating'] = data['Rating'].fillna(data['Rating'].mean())

data.isnull().values.any()

In [1]:
data.isnull().sum().sum()

NameError: ignored

In [2]:
data.isnull().sum()

NameError: ignored